<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Astro</title>
</head>
<body>
    <style>
        body::before {
            content: 'Hello world (Before)';
        }
        body::after {
            content: 'Hello world (After)';
        }
    </style>
</body>
</html>
